.score-scene {
    position: relative;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100%;
}

.score-scene__title {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.score-scene__logo {
    top: 2rem;

    width: 240px;
    height: auto;

    align-self: center;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

@media (prefers-color-scheme: dark) {
    .score-scene__logo {
        opacity: 0.4;
    }
}

.score-scene__title--primary {
    font-size: 4rem;
    font-weight: 700;
    color: var(--colour-text-secondary);
}

.score-scene__title--secondary {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--colour-text-secondary);
}

.score-scene__counters {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.score-scene__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: var(--colour-text-primary);
}

.score-scene__label {
    font-size: 2rem;
    font-weight: 700;
}

.score-scene__value {
    font-size: 1.5rem;
    font-weight: 700;
}

.score-scene__timestamps {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: var(--colour-background-hidden);
}

.score-scene__buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.score-scene__button {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--colour-text-tertiary);
    background-color: var(--colour-primary);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.score-scene__version {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--colour-text-secondary);

    position: absolute;
    bottom: 5px;
    right: 20px;
}