body {
    font-family: sans-serif;
    font-size: 21px;
    padding: 0;
    margin: 0;
}

/* Game */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
}

.header__title {
    font-size: 2rem;
}

.header__progress {
    font-size: 1.5rem;
}

.header__timestamp {
    color: #999;
    font-size: 1rem;
    text-align: center;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
    background-color: #f5f5f5;
    padding: 10px 20px;
}

/* Game Choosing */
.main__choose-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.choose-game__title {
    font-size: 2rem;
}

.choose-game__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.choose-game__button {
    line-height: 1.5rem;
    font-size: 2rem;
    padding: 7px 20px;
}

/* Questions */
.question {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    line-height: 0;
    font-size: 2rem;
}

.question .question__answer {
    display: none;
}

.question_incorrect .question__answer {
    display: block;
}

.question__input {
    line-height: 1.5rem;
    font-size: 2rem;
    width: 50%;
}

.question__check {
    line-height: 1.5rem;
    font-size: 2rem;
    padding: 7px 20px;
}

.question__flag {
    cursor: pointer;
    font-size: 5rem;
    padding: 1rem 0;
}

.question__flag_answer {
    border: 2px solid #ffffff;
}

.question__flag_correct {
    border: 2px solid #199700;
}

.question__flag_incorrect {
    border: 2px solid #b50000;
}

.question__answer {
    position: absolute;
    display: block;
    bottom: auto;
    left: auto;
    font-size: 1rem;
}

.question_correct {
    background-color: #d9ffd1;
}

.question_incorrect {
    background-color: #ffb5b5;
}

/* Footer */
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;

    font-size: 0.75rem;
    color: #999;
}